@use "/src/globals/mixins.scss";

.socials{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    gap: 20px;
}
.Contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}